<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性的应用</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.26.0/moment.js"></script>
</head>

<body>
    <div id="app">
        <!-- 表格数据 -->
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>作者姓名</th>
                    <th>作者昵称</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr v-for='item in newUsers' :key="item.id"> -->
                <tr v-for='item in users' :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.nickname}}</td>
                    <!-- <td>{{dateFormat(item.regtime)}}</td> -->
                    <td>{{item.regtime | date_xpf}}</td>
                    <td>
                        <a href="" @click.prevent='toEdit(item)'>修改</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    users: []
                }
            },
            created() {
                this.findUser();
            },
            // 方法一：计算属性
            computed: {
                newUsers() {
                    this.users.forEach((item) => {
                        let result = moment(item.regtime).format('YYYY-MM-DD hh:mm:ss');
                        item.regtime = result
                    })
                    return this.users;
                }
            },
            // 方法三：过滤器--最终处理方案
            filters:{
                date_xpf(time){
                    return moment(time).format('YYYY-MM-DD hh:mm:ss');
                }
            },
            methods: {
                // 方法二：处理时间格式
                dateFormat(time){
                    return moment(time).format('YYYY-MM-DD hh:mm:ss');
                },
                // 修改
                toEdit(item){
                    console.log(item,'----')
                },
                // 查询用户
                findUser() {
                    $.ajax({
                        url: 'http://39.96.21.48:8099/manager/user/findAllUser',
                        method: 'get',
                        data: {},
                        success: (res) => {
                            this.users = res.data
                        }
                    })
                }
            },
        })

    </script>
</body>

</html>